@font-face {
  font-family: 'hadi-personal';
  src:
    url('./hadi-personal.woff2') format('woff2'),
    url('./hadi-personal.woff') format('woff');
}

/* base class */
.icon {
  display: inline-block;
  font: normal normal normal 1em/1 'hadi-personal';
  color: inherit;
  flex-shrink: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* size examples - relative units */
.icon-sm {
  font-size: 0.8em;
}

.icon-lg {
  font-size: 1.2em;
}

/* size examples - absolute units */
.icon-16 {
  font-size: 16px;
}

.icon-32 {
  font-size: 32px;
}

.icon-64 {
  font-size: 64px;
}

/* rotate the icon infinitely */
.icon-is-spinning {
  animation: icon-spin 1s infinite linear;
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* transform */
.icon-rotate-90 {
  transform: rotate(90deg);
}

.icon-rotate-180 {
  transform: rotate(180deg);
}

.icon-rotate-270 {
  transform: rotate(270deg);
}

.icon-flip-y {
  transform: scaleY(-1);
}

.icon-flip-x {
  transform: scaleX(-1);
}

/* icons */
.icon-download::before {
  content: '\ea01';
}

.icon-linkedin::before {
  content: '\ea02';
}

.icon-x::before {
  content: '\ea03';
}
